# NOTE: update this with your service name
service: blob-images-api-user

# Create an optimized package for our functions 
package:
  individually: true

plugins:
  - serverless-bundle # Package our functions with Webpack
  - serverless-offline
  - serverless-dotenv-plugin # Load .env as environment variables
  - serverless-domain-manager

provider:
  name: aws
  runtime: nodejs12.x
  stage: ${opt:stage, 'dev'}
  region: eu-central-1
  tags:
    APP: clubalmanac

  environment:
    photoTable: ${file(./serverlessDomainConfig.js):photoTable.${self:provider.stage}}
    bucket: ${file(./serverlessDomainConfig.js):bucket.${self:provider.stage}}
    coverIndex: cover-idx
    photoIndex: SK-PK-idx
    emailIndex: email-idx
    cognitoIndex: cog-idx
    dateIndex: date-idx
    userPoolId: ${file(./serverlessDomainConfig.js):userPoolId.${self:provider.stage}}

  iamRoleStatements:
    - Effect: Allow
      Action:
        - dynamodb:DescribeTable
        - dynamodb:Query
        - dynamodb:Scan
        - dynamodb:GetItem
        - dynamodb:PutItem
        - dynamodb:UpdateItem
        - dynamodb:DeleteItem
        - dynamodb:DescribeStream
        - dynamodb:ListStreams
      Resource: "arn:aws:dynamodb:eu-central-1:*:*"
    - Effect: Allow
      Action:
        - ses:SendEmail
        - ses:SendRawEmail
        - ses:SendTemplatedEmail
        - ses:SendBulkTemplatedEmail
      Resource: "arn:aws:ses:eu-central-1:*:*"
    - Effect: Allow
      Action:
        - s3:GetObject
        - s3:PutObject
      Resource: "arn:aws:s3:::${self:provider.environment.bucket}"
    - Effect: Allow
      Action:
        - cognito-idp:AdminDisableUser
        - cognito-idp:AdminDeleteUser
      Resource: "arn:aws:cognito-idp:*:*:userpool/${self:provider.environment.userPoolId}"

functions:
  createUser:
    handler: handlersUser/createUser.main
    # events:
    #   - cognitoUserPool:
    #       pool: blob-images-users
    #       trigger: PostConfirmation
    #       existing: true
  getUser:
    handler: handlersUser/getUser.main
    events:
      - http:
          path: /
          method: get
          cors: true
          authorizer: aws_iam
  updateUser:
    handler: handlersUser/updateUser.main
    events:
      - http:
          path: /
          method: put
          cors: true
          authorizer: aws_iam
  listUserAlbums:
    handler: handlersUser/listAllAlbums.main
    events:
      - http:
          path: /albums
          method: get
          cors: true
          authorizer: aws_iam
  deleteUser:
    handler: handlersUser/deleteUser.main
    events:
      - http:
          path: /
          method: delete
          cors: true
          authorizer: aws_iam
  dummy:
    handler: handlersUser/dummy.main
    events:
      - http:
          path: /dummy
          method: any
          cors: true
  getUploadUrl:
    handler: handlersUpload/getUploadUrl.main
    events:
      - http:
          path: /uploadurl
          method: post
          cors: true
          authorizer: aws_iam

custom:
  customDomain:
    domainName: ${file(./serverlessDomainConfig.js):domain.${self:provider.stage}}
    basePath: 'user'
    stage: ${self:provider.stage}
    createRoute53Record: true
    certificateArn: arn:aws:acm:eu-central-1:899888592127:certificate/383df7e4-9034-4ba0-acdb-97eb56c66eb7

resources:
  # API Gateway Errors
  - ${file(resources/api-gateway-errors.yml)}